@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@theme {
  --color-border: #EDEDED;
  --color-background: #FAFAFA;
  --color-foreground: #EDEDED;
}

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(var(--color-background));
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-black;
}

html {
  @apply font-sans;
}